@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@theme {
  --font-display: "Lexend", serif;

  --color-blue-100: #79b9d5;
  --color-blue-200: #2b7da0;
  --color-black-100: #1d2123;
}
