@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Lexend", serif;

  --color-blue-100: #79b9d5;
  --color-blue-200: #2b7da0;
  --color-black-100: #1d2123;
  --color-ash-100: #e0e9e0;
  --color-ash-200: #ebf0f3;
  --color-ash-300: #f5f4ed;
  --color-ash-400: #1d2123;
  --color-white-100: #ffffff;
  --color-black-200: #0c0c0d0d;
  --color-black-300: #1d2123;
}
